.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f4f4f4; /*cor neutra */
    min-height: 100vh;
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espaçamento entre os botões */
}

.home-button {
    padding: 15px 25px;
    font-size: 1.2rem;
    background-color: #4CAF50; /* Botões com cor verde suave */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 400px;
}

.home-button:hover {
    background-color: #45A049;
}

.home-button:focus {
    outline: none;
}