* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Cor de fundo neutra */
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eaeaea; /* Fundo neutro */
}

.login-form {
    background-color: #fff; /*cor de fundo do formulario */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rbga(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 14px;
    font-weight: 500;
    color: #555;
}

.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

.form-input:focus {
    outline: none;
    border-color: #999;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50; /* Botão com cor Neutra */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #45A049; /* Efeito ao passar o mouse */
}